<a href="https://colab.research.google.com/github/carturo6/Deep_Learning-Covid19/blob/main/LSTM_COVID_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I.A. DeepLearnin para Casos Covid-19

Este respositorio tiene el fin de predecir los proximo casos de Covid19 en MÃ©xico ( Nivel nacional ).

Los datos que se ocuparan, son los datos disponibles en paginas del Gobierno.
Se utilizaran solo tecnicas de Deep Learning donde cada modelo podra ir variando en funcion que los datos predichos mejor se ajusten a los datos predictorios.

In [1]:
# Import librarys.

# DC
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sc
import seaborn as sns

# DL
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
import tensorflow as tf

In [8]:
# Carga del Dataset

df = pd.read_csv('/content/drive/MyDrive/IA_projects/LSTM-Covid-19/CasosCovid19.csv')

In [9]:
df.head(5)

   cve_ent  poblacion               nombre  ...  26-03-2021  27-03-2021  28-03-2021
0        1    1434635       AGUASCALIENTES  ...          20          60           0
1        2    3634868      BAJA CALIFORNIA  ...          30           7           0
2        3     804708  BAJA CALIFORNIA SUR  ...          56          16           0
3        4    1000617             CAMPECHE  ...           4           0           0
4        7    5730367              CHIAPAS  ...          16           7           0

[5 rows x 453 columns]

In [10]:
# Trasponinendo el dataset
df = df.T
df.head(5)

                        0                1   ...         31         32
cve_ent                  1                2  ...         32          0
poblacion          1434635          3634868  ...    1666426  127792286
nombre      AGUASCALIENTES  BAJA CALIFORNIA  ...  ZACATECAS   Nacional
04-01-2020               0                0  ...          0          0
05-01-2020               0                0  ...          0          4

[5 rows x 33 columns]

In [35]:
# Seleccion de filas y columnas correctas

df = df.iloc[3:, 32:]

In [36]:
# Nombrando a las columnas

df.columns = ['Casos']

In [38]:
# Dataset Limpio

df.head(6)

           Casos
04-01-2020     0
05-01-2020     4
06-01-2020     7
07-01-2020     1
08-01-2020     3
09-01-2020     1